* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f9fbfd;
}

.border-top {
  border-top: solid 1px #ddd;
}

.border-bottom {
  border-bottom: solid 1px #ddd;
}

/* Header */

#header {
  min-height: 68px;
  background-color: #fff;
  border-bottom: solid 1px #ddd;
  z-index: 1;
}

#header .container {
  margin: 0 61px;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  justify-content: center;
}

.nav {
  display: inline-block;
  padding: 0px 12px;
}

.nav > .nav-item {
  display: inline-block;
  padding: 10px 3px;
  position: relative;
}

.nav > .nav-item:first-child > a {
  color: #e63757;
  opacity: 1;
}

.nav > .nav-item:first-child:hover > a {
  color: #b91735 !important;
}

.nav > .nav-item > a {
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.nav-item .dropdown-item:hover > a,
.nav > .nav-item:hover > i,
.nav > .nav-item:hover > a,
.dropright-menu > .dropright-item:hover > a {
  opacity: 1;
  cursor: pointer;
}

.nav > .nav-item > i {
  opacity: 0.5;
  font-size: 12px;
  margin-left: 4px;
}

/* Logo */
.logo .img-logo {
  height: 22px;
  margin-right: 55px;
}

/* Search */

.input-group {
  display: flex;
  border: #95aac9 solid 1px;
  border-radius: 30px;
  align-items: center;
  padding: 4px 8px;
  opacity: 0.5;
  margin-right: 20px;
}

.search-icon {
  font-size: 15px;
  padding: 8px 6px;
  color: #95aac9;
}

.input-group .search-input {
  border: none;
  font-size: 15px;
  padding: 8px 6px;
  outline: none;
}

/* User */

.nav-user {
  display: flex;
  font-size: 15px;
  color: #7f7f7f;
}

.nav-user .nav-item {
  padding: 0 12px;
}

.nav-user .support a {
  padding: 0 4px;
  color: #7f7f7f;
  text-decoration: none;
}

.nav-user .nav-item:hover i,
.nav-user .nav-item:hover a {
  color: #000;
  cursor: pointer;
  opacity: 1;
}

.nav .nav-item:hover .dropdown-menu {
  display: block;
}

/* Dropdown menu */

.nav-item .dropdown-menu {
  display: none;
  position: absolute;
  min-width: 10rem;
  top: 100%;
  background-color: #fff;
  border: #ccc solid 1px;
  border-radius: 4px;
}

.dropdown-menu > .dropdown-item {
  display: inline-block;
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 24px;
}

.dropdown-menu > .dropdown-item > i {
  margin-left: 10px;
  font-size: 12px;
  opacity: 0.5;
}

.dropdown-menu > .dropdown-item > a {
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  flex: 1;
  white-space: nowrap;
}

/* Dropright menu */

.dropright-menu {
  display: none;
  position: absolute;
  min-width: 10rem;
  top: 50%;
  left: 100%;
  background-color: #fff;
  border: #ccc solid 1px;
  border-radius: 4px;
}

.dropright-menu > .dropright-item {
  display: block;
  font-size: 15px;
  width: 100%;
}

.dropright-menu .dropright-item a {
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  padding: 6px 24px;
  white-space: nowrap;
}

.dropdown-item:hover .dropright-menu {
  display: block;
}

/* Modal Login  */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* display: flex; */
  display: none;
  overflow-y: scroll;
}

.display {
  display: flex !important;
}
.modal__overlay {
  /* position: fixed; */
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal__body {
  display: none;
}

.modal__body-login {
  width: 350px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.modal__container-login {
  padding: 24px;
  height: 100%;
}

.modal__container-login .form-group {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
}

.modal__container-login .form-control {
  font-size: 13px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.form-group label {
  font-size: 15px;
}

.form-input {
  display: block;
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control .reset-pass {
  color: #95aac9;
  font-size: 13px;
  text-decoration: none;
}

.btn__login .btn {
  width: 100%;
  color: #fff;
  font-size: 17px;
  padding: 12px 16px;
  margin-bottom: 12px;
  cursor: pointer;
  border: none;
  background-color: #12263f;
  border-radius: 7px;
}

.btn:hover {
  background-color: #0a1421;
}

.signup {
  display: flex;
  font-size: 13px;
  margin-top: 3px;
  justify-content: center;
  color: #95aac9;
}

.signup .signup-link {
  text-decoration: none;
  color: #2c7be5;
}

/* Modal Cinema */

.modal__body-cinema {
  width: 65%;
  height: fit-content;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.modal__container-cinema {
  flex-grow: 1;
}

.modal__cinema-header {
  display: flex;
  margin: 0 12px;
  padding: 16px 24px;
  align-items: center;
}

.cinema-search {
  display: flex;
  border: #ddd solid 1px;
  border-radius: 8px;
  align-items: center;
  padding: 2px 4px;
  margin-right: 20px;
  width: 150px;
}

.cinema-search .form-control {
  border: none;
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  padding: 8px 0;
  outline: none;
  background: none;
  flex-grow: 1;
  width: 0;
}

.cinema-location {
  border: #95aac9 solid 1px;

  width: 225px;
  border-radius: 5px;
}

.cinema-location > .location-section {
  display: block;
  color: #12263f;
  font-size: 15px;
  padding: 9px 12px;
  cursor: pointer;
}

.modal__cinema-list {
  padding-top: 8px;
}

.modal__cinema-item {
  display: flex;
  border-top: 1px solid #ddd;
  align-items: center;
  padding: 12px 24px;
}

.modal__cinema-img {
  height: 40px;
  padding: 0 12px;
}

.modal__cinema-body {
  padding: 0 12px;
  flex-grow: 1;
  width: 0;
}

.modal__cinema-info {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}

.modal__cinema-name {
  font-size: 15px;
  font-weight: 600;
}

.modal__cinema-status {
  font-size: 11px;
  margin-left: 5px;
  padding: 4px 6px;
  background: #d5e5fa;
  color: #2c7be5;
  border-radius: 7px;
}

.modal__cinema-address {
  color: #95aac9;
  font-size: 13px;
}

/* Content */
#content {
  display: flex;
  flex-direction: column;
  background-color: #f9fbfd;
  margin-top: 12px;
  line-height: 1.5;
}

.main-content {
  padding: 24px 12px;
}

.content__header {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-status:first-child {
  text-decoration: none;
  font-size: 20px;
  color: #12263f;
  font-weight: 550;
  padding-right: 24px;
  border-right: 2px solid #000;
}

.film-status:first-child:hover {
  color: #1657af;
}

.film-status:last-child {
  text-decoration: none;
  font-size: 20px;
  color: #95aac9;
  font-weight: 550;
  padding-left: 24px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  column-gap: 12px;
  justify-content: center;
  margin-bottom: 24px;
}

.grid-item {
  display: inline;
  border: 1px #ddd solid;
  border-radius: 10px;
}

.grid-img {
  position: relative;
  width: 100%;
}

.item-img {
  width: 100%;
  border-radius: 10px;
}

.grid-img > label {
  position: absolute;
  background-color: #d31602;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f9fbfd;
  text-align: center;
}

.grid-item .item-body {
  padding: 8px;
}

.item-name {
  width: 100px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #12263f;
  margin-bottom: 3px;
}

.item-name:hover {
  cursor: pointer;
  color: #1657af;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #95aac9;
  font-size: 13px;
}

.item-prefer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-prefer .item-quantity {
  padding-left: 3px;
}

.slide-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-dot button {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #000;
  opacity: 0.25;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.slide-dot button:hover {
  opacity: 1;
  cursor: pointer;
}

/* Review Film   */

#content .content {
  display: flex;
  padding: 0 48px;
  justify-content: center;
  margin: 12px;
  background-color: #f9fbfd;
}

.content-review {
  padding: 0 12px;
  max-width: 66.66667%;
}

.poster-film {
  display: block;
  border-radius: 4px;
  width: 100%;
}

.film-info {
  margin: 2px 0;
  font-size: 12px;
}

.film-heading {
  font-size: 24px;
  color: #12263f;
  font-weight: 600;
}

.film-category {
  display: flex;
  margin-left: -5px;
  line-height: 1.5;
  align-items: center;
}

.film-category > a,
.film-category > p {
  padding: 0 5px;
  text-decoration: none;
}

.rate,
.category {
  color: #e63757;
}

.rate:hover,
.category:hover {
  color: #b91735;
}

.film-review,
.mentor-name,
.post-time {
  color: #959595;
}

.film-review {
  width: 100%;
}

/* Review List */
.content-list-review {
  padding: 0 12px;
  border: #e1e1e1 1.5px solid;
  background-color: #f9fbfd;
  border-radius: 5px;
  width: calc(100%-66.66667%);
}

.content-item-review {
  padding: 12px 12px;
  border-bottom: #e1e1e1 1.5px solid;
  margin-left: -5px;
}

.content-item-review:last-child {
  border-bottom: none;
}

.review-name {
  display: block;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 600;
  color: #1c3553;
  text-decoration: none;
}

.review-name:hover {
  color: #010204;
}

.review-mentor,
.review-rate {
  display: inline;
  text-decoration: none;
  font-size: 12px;
  color: #d31602;
  padding: 0 3px;
}

.review-time {
  display: inline;
  font-size: 12px;
  color: #959595;
  padding: 0 3px;
}

/* Update-List  */

.update-new {
  max-width: 61.66667%;
  background-color: #f9fbfd;
  border-radius: 6px;
  padding: 0 12px;
}

.update-heading {
  background-color: #edf2f9;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 15px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-heading {
  display: block;
  padding: 0 24px;
  font-size: 15px;
  color: #12263f;
}

.update-list {
  padding: 0 24px;
  border: 1px solid #e1e1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.update-item {
  display: flex;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.update-item:last-child {
  border-bottom: none;
}

.img-update {
  max-width: 33.33333%;
  border-radius: 4px;
  padding-right: 12px;
}

.update-body {
  max-width: 66.66667%;
}

.update-item-heading {
  font-size: 15px;
  color: #12263f;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 5px;
}

.update-item-info {
  display: flex;
  font-size: 13px;
  color: #95aac9;
  margin-left: -5px;
}

.update-item-category,
.update-item-mentor,
.update-item-time {
  padding: 0 5px;
}

.update-item-category {
  text-decoration: none;
  color: #e63757;
}

.update-item-intro {
  margin-top: 10px;
  font-size: 13px;
  color: #95aac9;
}

.review-wrapper {
  max-width: 38.5%;
  padding-left: 12px;
}

.review-item {
  display: flex;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.review-item:last-child {
  border-bottom: none;
}

.review-item-img img {
  max-width: 100%;
  flex: 1;
  height: 75%;
  border-radius: 5px;
}

.review-item-body {
  padding: 0 12px;
  max-width: 100%;
}

.review-item-name {
  text-decoration: none;
  font-size: 15px;
  color: #12263f;
  font-weight: 600;
  margin-bottom: 5px;
}

.review-item-info {
  display: flex;
  margin-left: -5px;
}

.review-item-mentor {
  text-decoration: none;
  color: #95aac9;
  font-size: 13px;
  padding: 0 5px;
}

.review-item-time {
  text-decoration: none;
  color: #95aac9;
  font-size: 13px;
  padding: 0 5px;
}

.btn-seen-more {
  margin: 12px 0;
}

.btn-view-more {
  display: block;
  padding: 8px 12px;
  background-color: #edf2f9;
  color: #283e59;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.btn-view-more:hover {
  background-color: #d0ddef;
  color: #283e59;
  border-color: #c7d6ec;
}

/* Footer */

#footer {
  background-color: #edf2f9;
}

.container-footer {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid #e3ebf6;
  color: #95aac9;
  font-size: 13px;
  margin: 0 -12px;
  padding: 12px;
  line-height: 1.6;
}

.info-website {
  display: flex;
}

.info-logo {
  display: inline;
  padding: 0 12px;
  flex: 0 0 33.33333%;
}
.favicon-img {
  display: inline;
  max-width: 33.33333%;
}

.info-body {
  max-width: 66.66667%;
  padding: 0 12px;
}

.partner-logo > img {
  width: 40px;
  border-radius: 50%;
}
